		<script src="/js/scripts/modernizr.js"></script>
		<script src="/js/scripts/jquery.1.10.2.js"></script>
		<script src="/js/scripts/jquery-ui-1.10.3.custom.js"></script>
		<script src="/js/scripts/waypoints.js"></script>
		<script src="/js/scripts/imagesloaded.js"></script>
		<script src="/js/scripts/video.js"></script>
		<script src="/js/scripts/bigvideo.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>