		<script src="/js/scripts/modernizr.js"></script>
		<script src="/js/scripts/jquery.1.10.2.js"></script>
		<script src="/js/scripts/jquery-ui-1.10.3.custom.js"></script>
		<script src="/js/scripts/waypoints.js"></script>
		<script src="/js/scripts/imagesloaded.js"></script>
		<script src="/js/scripts/video.js"></script>
		<script src="/js/scripts/bigvideo.js"></script>
		<script src="/js/main.js"></script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-3757014-3']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</body>
</html>