<!DOCTYPE html>
<html>
	<head>
    	<title>Kei Yasui | Design + Development</title>
    	<link rel='stylesheet' href='/css/style.css' />
    	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    	<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body>  	
		<a href="/"><img class="kei-yasui-logo" src="images/kei_yasui_logo.png" alt="Kei Yasui / Designer + Developer"></a>
		<nav class="site-nav">
			<a class="nav-trigger" href="">Navigation Trigger</a>		
			<a class="nav-item" href="#projects-section">PROJECTS</a>
			<a class="nav-item" href="#about-section">ABOUT ME</a>
			<a class="nav-item" href="#contact-section">CONTACT</a>
		</nav>