<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %> - Title 1</title>
    	<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>  	
		<img class="kei-yasui-logo" src="images/kei_yasui_logo.png" alt="Kei Yasui">
		<nav class="site-nav">
			<a class="nav-trigger" href="">Navigation Trigger</a>		
			<a class="nav-item" href="projects">PROJECTS</a>
			<a class="nav-item"href="experience">EXPERIENCE</a>
			<a class="nav-item" href="contact">CONTACT</a>
		</nav>