
  	<% include header %>
    <section id="intro-section" class="intro-section section">

    </section>

    <section id="welcome-section" class="welcome-section section">
		<h2>WELCOME TO THE PORTFOLIO OF KEI YASUI,<br> A DESIGNER/DEVELOPER LIVING AND WORKING IN BROOKLYN, NY. <br> CURRENTLY SEEKING INTERESTING PROJECTS.</h2>
    </section>

    <section id="work-section" class="work-section section">
		<div class="work-row">
			<div class="work-item">
				<div class="work-description">
					<h3>IDENTITY FOR FAN SI PAN</h3>
					<p>Pellentesque feugiat nec sem eu fringilla. Duis faucibus tempor congue. Aliquam ut nisl in neque rutrum congue. Sed sed ante in metus auctor consectetur. Mauris et euismod purus. Suspendisse potenti. Cum sociis natoque penatibus et magnis dis parturient </p>
				</div>
				<div class="work-image">

				</div>
			</div>
		</div>
		<div class="work-row alt">
			<div class="work-item">
				<div class="work-description">
					<h3>IDENTITY FOR FAN SI PAN</h3>
					<p>Pellentesque feugiat nec sem eu fringilla. Duis faucibus tempor congue. Aliquam ut nisl in neque rutrum congue. Sed sed ante in metus auctor consectetur. Mauris et euismod purus. Suspendisse potenti. Cum sociis natoque penatibus et magnis dis parturient </p>
				</div>
				<div class="work-image">

				</div>
			</div>
		</div>
		<div class="work-row">
			<div class="work-item">
				<div class="work-description">
					<h3>IDENTITY FOR FAN SI PAN</h3>
					<p>Pellentesque feugiat nec sem eu fringilla. Duis faucibus tempor congue. Aliquam ut nisl in neque rutrum congue. Sed sed ante in metus auctor consectetur. Mauris et euismod purus. Suspendisse potenti. Cum sociis natoque penatibus et magnis dis parturient </p>
				</div>
				<div class="work-image">

				</div>
			</div>
		</div>
		<div class="work-row alt">
			<div class="work-item">
				<div class="work-description">
					<h3>IDENTITY FOR FAN SI PAN</h3>
					<p>Pellentesque feugiat nec sem eu fringilla. Duis faucibus tempor congue. Aliquam ut nisl in neque rutrum congue. Sed sed ante in metus auctor consectetur. Mauris et euismod purus. Suspendisse potenti. Cum sociis natoque penatibus et magnis dis parturient </p>
				</div>
				<div class="work-image">

				</div>
			</div>
		</div>
    </section>

    <section id="about-section" class="about-section section">
    	<div class="content">
			<h2>MY SKILLSET REPRESENTS THE INTERSECTION OF TECHNOLOGY AND DESIGN.</h2>
			<div class="resume">
				<h3 class="resume-header">EXPERIENCE</h3>

				<h4 class="resume-sub-header">Freelancer<span class="date">2011 - Present</span></h4>
				<h5 class="resume-detail">Position: Designer / Developer</h5>

				<h4 class="resume-sub-header">MLB Advanced Media<span class="date">2011 – 2012</span></h4>
				<h5 class="resume-detail">Position: Front End Developer - Mobile</h5>

				<h4 class="resume-sub-header">DigitasLBi<span class="date">2010 – 2011</span></h4>
				<h5 class="resume-detail">Position: Front End Developer</h5>

				<h4 class="resume-sub-header">Warehouse Agency<span class="date">2009 – 2010</span></h4>
				<h5 class="resume-detail">Position: Flash Developer</h5>

				<h3 class="resume-header">SKILLS</h3>

				<h4 class="resume-sub-header">Proficiencies</h4>
				<ul>
					<li>HTML5 / CSS3 / Javascript / PHP</li>
					<li>JQuery / LESS / SASS / Wordpress / Phonegap / Shopify / Tumblr</li>
					<li>JSON / XML - API Driven Development</li>
				</ul>

				<h4 class="resume-sub-header">Working Knowledge</h4>
				<ul>
					<li>Java (Groovy/Freemarker)</li>
					<li>ASP.NET (Sitecore)</li>
					<li>Ruby (Rails)</li>
					<li>Node.js (Express)</li>
					<li>Drupal</li>
				</ul>

				<h4 class="resume-sub-header">Software</h4>
				<ul>
					<li>Adobe Creative Suite</li>
					<li>Eclipse / Visual Studio / Sublime Text 2</li>
					<li>GIT / SVN / CVS</li>
					<li>Unix Terminal / Command Line</li>
				</ul>

				<h3 class="resume-header">FIND ME</h3>
				<a target="_blank" href="">LinkedIn</a> / <a target="_blank" href="">GitHub</a> / <a target="_blank" href="">Download Resume</a>

			</div>
    	</div>
		<div class="bg"></div>
    </section>

    <section id="contact-section" class="contact-section section">
		<h2>CONTACT ME</h2>
		<form id="contact-form" class="contact-form">
			<div class="input-row">
				<input type="text" name="your-name">
				<div class="bg"></div>		
			</div>
			<div class="input-row">
				<input type="text" name="your-email">
				<div class="bg"></div>		
			</div>
			<div class="input-row">
				<textarea name="your-message"></textarea>
				<div class="bg"></div>		
			</div>
			<div class="input-row">
				<input class="submit" type="submit" value="SEND">
			</div>
		</form>
    </section>
    <% include footer %>  