
  	<% include header %>
    <section id="intro-section" class="intro-section section">

    </section>

    <section id="welcome-section" class="welcome-section section">
		<h2 class="animate animate-blur big-screen">WELCOME TO THE PORTFOLIO OF KEI YASUI,<br> A DESIGNER / DEVELOPER LIVING AND WORKING IN BROOKLYN, NY.</h2>
		<h2 class="animate animate-blur little-screen">WELCOME TO THE PORTFOLIO OF KEI YASUI, A DESIGNER / DEVELOPER LIVING AND WORKING IN BROOKLYN, NY.</h2>
    </section>

    <section id="projects-section" class="work-section section">
    	<div class="work-row">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>XIAN FAMOUS FOODS WEBSITE</h3>
								<p><strong>Xi'an Famous Foods</strong> is a New York based restaurant group that's been gaining incredible notoriety in the past few years. Due to their growth, they were in dire need of a more professional web presence and that's exactly what I provided.</p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Designer / Developer</li>
								</ul>
								<ul>
									<li><strong>TECH: </strong></li>
									<li>HTML / CSS / Javascript / PHP / Wordpress / Social API integration</li>
								</ul>
								<a class="visit" target="_blank" href="http://www.xianfoods.com">VISIT SITE</a>
							</div>
				    	</td>
				    </table>
				</div>
				<div class="work-image">
					<a target="_blank" href="http://www.xianfoods.com"><img class="work-img" src="images/portfolio/xian.jpg"></a>
				</div>
			</div>
		</div>		
		<div class="work-row alt">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>SANKICHI CO. WEBSITE/WEBSTORE</h3>				          		
								<p><strong>Sankichi Co.</strong> is a company specializing in the sale of hand made goods. This webstore is built using the <i>Limited Run</i> platform. </p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Designer / Developer</li>
								</ul>
								<ul>
									<li><strong>TECH: </strong></li>
									<li>HTML / CSS / Javascript / Limited Run</li>
								</ul>	
								<a class="visit" target="_blank" href="http://sankichi.co">VISIT SITE</a>							
							</div>
				    	</td>
				    </table>
				</div>
				<div class="work-image">
					<a target="_blank" href="http://sankichi.co"><img class="work-img" src="images/portfolio/sankichico.jpg"></a>
				</div>
			</div>
		</div>
		<div class="work-row">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>FAN SI PAN IDENTITY</h3>
								<p><strong>Fan Si Pan</strong> is a boutique outdoor supply company based in Portland, Maine. They are gearing up for their 2014 launch with a brand new identity.</p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Designer</li>
								</ul>
							</div>
				    	</td>
				    </table>					
				</div>
				<div class="work-image">
					<img class="work-img" src="images/portfolio/fansipan.jpg">
				</div>
			</div>
		</div>
		<div class="work-row alt">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>RHYMES APP SPLASH PAGE</h3>
								<p><strong>RHYMES</strong> is an upcoming educational app for iOS. I was tasked by <a target="_blank" href="http://www.useallfive.com">UseAllFive</a> to build their product splash page.</p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Developer</li>
								</ul>
								<ul>
									<li><strong>TECH: </strong></li>
									<li>HTML / CSS / Javascript</li>
								</ul>
								<a class="visit" target="_blank" href="http://rhym.es">VISIT SITE</a>
							</div>
				    	</td>
				    </table>
				</div>
				<div class="work-image">
					<a target="_blank" href="http://rhym.es"><img class="work-img" src="images/portfolio/rhymes.jpg"></a>
				</div>
			</div>
		</div>
		<div class="work-row">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>ATRIUM NYC WEBSTORE</h3>
								<p><strong>ATRIUM</strong> is a well established NYC purveyor of high end clothing and accessories. Working with <a target="_blank" href="www.edificeagency.com">Edifice Agency</a> I integrated their static design into the <i>Shopify</i> E-Commerce Platform.</p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Developer</li>
								</ul>
								<ul>
									<li><strong>TECH: </strong></li>
									<li>HTML / CSS / Javascript / Shopify</li>
								</ul>
								<a class="visit" target="_blank" href="http://www.atriumnyc.com">VISIT SITE</a>
							</div>
				    	</td>
				    </table>
				</div>
				<div class="work-image">
					<a target="_blank" href="http://www.atriumnyc.com"><img class="work-img" src="images/portfolio/atrium.jpg"></a>
				</div>
			</div>
		</div>
		<div class="work-row alt">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>RED PEAK MEDIA COMPANY WEBSITE</h3>
								<p><strong>RED PEAK MEDIA COMPANY</strong> is a UK based media agency. Working closely with NY based digital agency <a target="_blank" href="www.infinitebig.com">Layerframe</a>, I integrated RPMC's in-house design into the <i>Wordpress</i> platform.</p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Developer</li>
								</ul>
								<ul>
									<li><strong>TECH: </strong></li>
									<li>HTML / CSS / Javascript / PHP / Wordpress</li>
								</ul>
							</div>
				    	</td>
				    </table>
				</div>
				<div class="work-image">
					<img class="work-img" src="images/portfolio/rpmc.jpg">
				</div>
			</div>
		</div>
		<div class="work-row">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>WELL FED WEBSTORE</h3>
								<p><strong>WELL FED</strong> is a new and fast growing clothing brand. I constructed their webstore using the <i>Limited Run</i> platform.</p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Developer</li>
								</ul>
								<ul>
									<li><strong>TECH: </strong></li>
									<li>HTML / CSS / Javascript / Limited Run</li>
								</ul>
								<a class="visit" target="_blank" href="http://www.wellfednewyork.com">VISIT SITE</a>
							</div>
				    	</td>
				    </table>
				</div>
				<div class="work-image">
					<a target="_blank" href="http://www.wellfednewyork.com"><img class="work-img" src="images/portfolio/wellfed.jpg"></a>
				</div>
			</div>
		</div>
		<div class="work-row alt">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>CRUEL HAND WEBSITE</h3>
								<p><strong>Cruel Hand</strong> is one of the hardest working bands in the punk/hardcore community. They needed a new digital hub so fans could connect with them. I built a site that they could easily update with their latest news and activity.</p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Designer / Developer</li>
								</ul>
								<ul>
									<li><strong>TECH: </strong></li>
									<li>HTML / CSS / Javascript / PHP / Wordpress</li>
								</ul>
								<a class="visit" target="_blank" href="http://www.cruelhand.com">VISIT SITE</a>
							</div>
				    	</td>
				    </table>
				</div>
				<div class="work-image">
					<a target="_blank" href="http://www.cruelhand.com"><img class="work-img" src="images/portfolio/cruelhand.jpg"></a>
				</div>
			</div>
		</div>
		<div class="work-row">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>TITLE FIGHT TUMBLR</h3>
								<p><strong>Title Fight</strong> needed a new website/tumblr to coincide with the release of their latest record, Floral Green. I used assets from the packaging to create this unique theme.</p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Designer / Developer</li>
								</ul>
								<ul>
									<li><strong>TECH: </strong></li>
									<li>HTML / CSS / Javascript / Tumblr</li>
								</ul>
								<a class="visit" target="_blank" href="http://titlefight.tumblr.com">VISIT SITE</a>
							</div>
				    	</td>
				    </table>
				</div>
				<div class="work-image">
					<a target="_blank" href="http://titlefight.tumblr.com"><img class="work-img" src="images/portfolio/titlefight.jpg"></a>
				</div>
			</div>
		</div>
		<div class="work-row alt">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>STYLYT SPLASH PAGE</h3>
								<p><storng>STYLYT</strong> was a New York based fashion startup. They tasked me with building their pre-launch splash page.</p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Developer</li>
								</ul>
								<ul>
									<li><strong>TECH: </strong></li>
									<li>HTML / CSS / Javascript</li>
								</ul>
							</div>
				    	</td>
				    </table>
				</div>
				<div class="work-image">
					<img class="work-img" src="images/portfolio/stylyt.jpg">
				</div>
			</div>
		</div>
		<div class="work-row">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>SHOP TOUCH WEBSITE</h3>
								<p><strong>SHOPTOUCH</strong> is a mobile e-commerce startup. Working with designs by <a target="_blank" href="http://lokastudios.com/">Loka Studios</a>, I built their site on <i>Wordpress</i>.</p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Developer</li>
								</ul>
								<ul>
									<li><strong>TECH: </strong></li>
									<li>HTML / CSS / Javascript / PHP / Wordpress</li>
								</ul>
								<a class="visit" target="_blank" href="http://www.shoptouch.com">VISIT SITE</a>
							</div>
				    	</td>
				    </table>
				</div>
				<div class="work-image">
					<a target="_blank" href="http://www.shoptouch.com"><img class="work-img" src="images/portfolio/shoptouch.jpg"></a>
				</div>
			</div>
		</div>
		<div class="work-row alt">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>LBI HEALTH WEBSITE</h3>
								<p>While employed at DigitasLBi, I was the lead front-end developer for their health/pharma related website build. On this project I worked along side designers/flash developers/back-end engineers to produce the finished product.</p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Front-End Developer</li>
								</ul>
								<ul>
									<li><strong>TECH: </strong></li>
									<li>HTML / CSS / Javascript / PHP / Wordpress</li>
								</ul>
								<a class="visit" target="_blank" href="http://www.lbi.com/health">VISIT SITE</a>
							</div>
				    	</td>
				    </table>
				</div>
				<div class="work-image">
					<a target="_blank" href="http://www.lbi.com/health"><img class="work-img" src="images/portfolio/lbihealth.jpg"></a>
				</div>
			</div>
		</div>
		<div class="work-row">
			<div class="work-item">
				<div class="work-description">
					<table>
				        <td>
				          	<div>
				          		<h3>GENZYME WEBSITE</h3>
								<p>While working at DigitasLBi, I was on the development team for their Genzyme site build. Working with a dedicated back-end engineering team, we completed the build to client specifications.</p>
								<ul>
									<li><strong>ROLE: </strong></li>
									<li>Developer</li>
								</ul>
								<ul>
									<li><strong>TECH: </strong></li>
									<li>HTML / CSS / Javascript / ASP.NET / Sitecore</li>
								</ul>
								<a class="visit" target="_blank" href="http://www.genzyme.com">VISIT SITE</a>
							</div>
				    	</td>
				    </table>
				</div>
				<div class="work-image">
					<a target="_blank" href="http://www.genzyme.com"><img class="work-img" src="images/portfolio/genzyme.jpg"></a>
				</div>
			</div>
		</div>
    </section>

    <section id="about-section" class="about-section section">
    	<div class="content">
			<h2 class="animate animate-blur">ABOUT ME</h2>
			<div class="resume">
				<h3 class="resume-header animate animate-opacity">EXPERIENCE</h3>

				<h4 class="resume-sub-header animate animate-opacity">Freelancer<span class="date">2012 - Present</span></h4>
				<h5 class="resume-detail animate animate-opacity">Position: Designer / Developer</h5>

				<h4 class="resume-sub-header animate animate-opacity">MLB Advanced Media<span class="date">2011 - 2012</span></h4>
				<h5 class="resume-detail animate animate-opacity">Position: Front End Developer - Mobile</h5>

				<h4 class="resume-sub-header animate animate-opacity">DigitasLBi<span class="date">2010 - 2011</span></h4>
				<h5 class="resume-detail animate animate-opacity">Position: Front End Developer</h5>

				<h4 class="resume-sub-header animate animate-opacity">Warehouse Agency<span class="date">2009 - 2010</span></h4>
				<h5 class="resume-detail animate animate-opacity">Position: Flash Developer</h5>

				<h3 class="resume-header animate animate-opacity">SKILLS</h3>

				<h4 class="resume-sub-header animate animate-opacity">Proficiencies</h4>
				<ul class="animate animate-opacity">
					<li>HTML5 / CSS3 / Javascript / PHP</li>
					<li>JQuery / LESS / SASS / Wordpress / Phonegap / Shopify / Tumblr</li>
					<li>JSON / XML - API Driven Development</li>
					<li>Responsive / Adaptive Design + Development</li>
				</ul>

				<h4 class="resume-sub-header animate animate-opacity">Working Knowledge</h4>
				<ul class="animate animate-opacity">
					<li>Java (Groovy / Freemarker)</li>
					<li>ASP.NET (Sitecore)</li>
					<li>Ruby (Rails)</li>
					<li>Node.js (Express)</li>
					<li>Drupal</li>
				</ul>

				<h4 class="resume-sub-header animate animate-opacity">Software</h4>
				<ul class="animate animate-opacity">
					<li>Adobe Creative Suite</li>
					<li>Eclipse / Visual Studio / Sublime Text 2</li>
					<li>GIT / SVN / CVS</li>
					<li>Unix Terminal / Command Line</li>
				</ul>
				
				<div class="animate animate-opacity">
					<h3 class="resume-header">FIND ME</h3>
					<a target="_blank" href="http://www.linkedin.com/pub/kei-yasui/a/a1b/856">LinkedIn</a> / <a target="_blank" href="https://github.com/kyasui">GitHub</a> / <a target="_blank" href="/download/yasui_resume.pdf">Download Resume</a>
				</div>

			</div>
    	</div>
		<div class="bg"></div>
    </section>

    <section id="contact-section" class="contact-section section">
		<h2 class="animate animate-blur">FOR ALL INQUIRIES: <a target="_blank" href="mailto:info@keiyasui.com">INFO@KEIYASUI.COM</a></h2>
    </section>
    <% include footer %>  