.image-replacement {
  overflow: hidden;
  text-indent: -9999px;
}
.zero-out {
  margin: 0;
  padding: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src: url('../fonts/OpenSans-Italic-webfont.eot');
  src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight_italic';
  src: url('../fonts/OpenSans-LightItalic-webfont.eot');
  src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'), url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
.os-light-italic {
  font-family: 'open_sanslight_italic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.os-semi-bold {
  font-weight: normal;
  font-family: 'open_sanssemibold', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.os-light {
  font-family: 'open_sanslight', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.os-italic {
  font-weight: normal;
  font-family: 'open_sansitalic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.os-bold {
  font-weight: normal;
  font-family: 'open_sansbold', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: #333;
  border-left: 20px solid #ffffff;
  border-right: 20px solid #ffffff;
  font-family: 'open_sanslight', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 960px) {
  body {
    border-left: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
  }
}
body:before,
body:after {
  content: "";
  position: fixed;
  background: #fff;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 10;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px);
}
@media only screen and (max-width: 960px) {
  body:before,
  body:after {
    height: 10px;
  }
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
body.mobile {
  background-image: url('../images/mobile_bg.jpg');
  background-repeeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.kei-yasui-logo {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px);
}
@media only screen and (max-width: 960px) {
  .kei-yasui-logo {
    width: 100px;
    top: 10px;
    left: 10px;
  }
}
.site-nav {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 5;
  overflow: hidden;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px);
}
@media only screen and (max-width: 960px) {
  .site-nav {
    top: 10px;
    right: 10px;
  }
}
.site-nav .nav-trigger {
  display: block;
  width: 78px;
  height: 78px;
  float: right;
  overflow: hidden;
  text-indent: -9999px;
  margin: 0 0 10px 0;
  background-image: url('../images/master_sprite.png');
  background-color: #ffffff;
  background-repeat: no-repeat;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
@media only screen and (max-width: 960px) {
  .site-nav .nav-trigger {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;
  }
}
.site-nav .nav-trigger:hover,
.site-nav .nav-trigger.active {
  background-color: #f7941d;
}
.site-nav .nav-item {
  float: right;
  clear: both;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  background: #000000;
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  font-family: 'open_sanslight_italic', "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  right: -200%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.site-nav .nav-item.active {
  right: 0;
}
.site-nav .nav-item:hover,
.site-nav .nav-item.selected {
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
}
.animate-blur {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.animate-blur.activate {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
.animate-opacity {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.animate-opacity.activate {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.section {
  zoom: 1;
  position: relative;
}
.section:before,
.section:after {
  content: "";
  display: table;
}
.section:after {
  clear: both;
}
.welcome-section {
  background: #000000;
}
.welcome-section h2 {
  text-align: center;
  font-weight: normal;
  font-family: 'open_sansbold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  margin: 20% 4%;
  width: 92%;
}
.work-section {
  background: #ffffff;
}
.work-section .work-row {
  zoom: 1;
  background: #ffffff;
}
.work-section .work-row:before,
.work-section .work-row:after {
  content: "";
  display: table;
}
.work-section .work-row:after {
  clear: both;
}
.work-section .work-row .work-item {
  position: relative;
  zoom: 1;
  background: none;
}
.work-section .work-row .work-item:before,
.work-section .work-row .work-item:after {
  content: "";
  display: table;
}
.work-section .work-row .work-item:after {
  clear: both;
}
.work-section .work-row.alt {
  background: #000000;
}
.work-section .work-row.alt .work-description h3,
.work-section .work-row.alt .work-description p,
.work-section .work-row.alt .work-description ul,
.work-section .work-row.alt .work-description li {
  color: #ffffff;
}
@media only screen and (max-width: 960px) {
  .work-section .work-row {
    padding: 0 0 4% 0;
  }
}
.work-section .work-description {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 42%;
  padding: 0 6% 0 4%;
  z-index: 2;
}
.work-section .work-description h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  font-family: 'open_sansbold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
  color: #000000;
}
.work-section .work-description i {
  font-style: italic;
}
.work-section .work-description p {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  letter-spacing: .4px;
  margin: 0 0 20px 0;
}
.work-section .work-description p strong {
  font-weight: normal;
  font-family: 'open_sansbold', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.work-section .work-description p a {
  color: #f7941d;
  text-decoration: none;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.work-section .work-description p a:hover {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.work-section .work-description .visit {
  color: #f7941d;
  font-weight: normal;
  font-family: 'open_sansitalic', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: .4px;
  display: inline-block;
  margin: 30px 0 0 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.work-section .work-description .visit:hover {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.work-section .work-description ul,
.work-section .work-description li {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}
.work-section .work-description li {
  display: inline;
  font-weight: normal;
  font-family: 'open_sansitalic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.work-section .work-description li strong {
  font-weight: normal;
  font-family: 'open_sansbold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 12px 0 0;
  width: 50px;
  display: inline-block;
}
@media only screen and (max-width: 960px) {
  .work-section .work-description {
    position: relative;
    left: 0;
    right: 0;
    width: 92%;
    padding: 0 4% 4% 4%;
    background: none;
  }
}
.work-section .work-image {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  width: 50%;
  height: 100%;
  background: url('../images/loader.gif') no-repeat center center;
}
@media only screen and (max-width: 960px) {
  .work-section .work-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
  }
}
.work-section .work-image img {
  display: block;
  width: 100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  outline: 0;
}
@media only screen and (max-width: 960px) {
  .work-section .work-image img {
    border-left: none;
  }
}
.work-section .work-image.loaded img {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.work-section .work-image a {
  outline: 0;
}
.about-section h2 {
  text-align: center;
  font-weight: normal;
  font-family: 'open_sansbold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  margin: 8% 4%;
  width: 92%;
}
.about-section .content {
  position: relative;
  z-index: 1;
}
.about-section .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  z-index: 0;
}
.resume {
  width: 92%;
  max-width: 728px;
  margin: 0 auto;
  color: #ffffff;
  padding: 0 0 10% 0;
}
.resume .resume-header {
  font-weight: normal;
  font-family: 'open_sansbold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 4px;
  margin: 0;
  padding: 0;
  margin: 25px 0 15px 0;
  color: #ffffff;
}
.resume .resume-sub-header {
  font-weight: normal;
  font-family: 'open_sanssemibold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}
.resume .resume-sub-header .date {
  float: right;
  text-align: right;
  font-weight: normal;
  font-family: 'open_sansitalic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.resume .resume-detail {
  font-family: 'open_sanslight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin: 0 0 45px 0;
}
.resume ul {
  margin: 0;
  padding: 0;
  margin: 2px 0 20px 16px;
}
.resume li {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.resume a {
  font-size: 14px;
  text-decoration: none;
  font-weight: normal;
  font-family: 'open_sansitalic', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f7941d;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.resume a:hover {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.contact-section {
  background-image: url('../images/contact_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 900px;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media only screen and (max-width: 960px) {
  .contact-section {
    min-height: 600px;
  }
}
.contact-section h2 {
  text-align: center;
  font-weight: normal;
  font-family: 'open_sansbold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 900px;
  letter-spacing: 5px;
  max-width: 728px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 92%;
}
@media only screen and (max-width: 960px) {
  .contact-section h2 {
    line-height: 600px;
  }
}
.contact-section h2 a {
  text-decoration: none;
  color: #f7941d;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.contact-section h2 a:hover {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.big-screen {
  display: block;
}
@media only screen and (max-width: 960px) {
  .big-screen {
    display: none;
  }
}
.little-screen {
  display: none;
}
@media only screen and (max-width: 960px) {
  .little-screen {
    display: block;
  }
}
table {
  width: 100%;
  height: 100%;
}
table td {
  vertical-align: middle;
}
/*	BigVideo Styles 
	You may need to adjust these styles to get this working right in your design. 
*/
#big-video-wrap {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.vjs-control-bar,
.vjs-text-track-display {
  display: none;
}
#big-video-vid,
#big-video-image {
  position: absolute;
}
#big-video-control-container {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
#big-video-control {
  width: 100%;
  height: 16px;
  position: relative;
}
#big-video-control-middle {
  margin: 0 56px 0 24px;
}
#big-video-control-bar {
  width: 100%;
  height: 16px;
  position: relative;
  cursor: pointer;
}
#big-video-control-progress {
  position: absolute;
  top: 7px;
  height: 3px;
  width: 0%;
  background: #fff;
}
#big-video-control-track {
  position: absolute;
  top: 8px;
  height: 1px;
  width: 100%;
  background: #fff;
}
#big-video-control-bound-left {
  left: 0;
}
#big-video-control-bound-right {
  right: -1px;
}
#big-video-control-track .ui-slider-handle {
  opacity: 0;
}
#big-video-control-playhead {
  left: 30%;
}
#big-video-control-play {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-image: url('bigvideo.png');
}
#big-video-control-timer {
  position: absolute;
  top: 1px;
  right: 0;
  color: #fff;
  font-size: 11px;
}
#big-video-control-playhead,
#big-video-control-bound-left,
#big-video-control-bound-right {
  position: absolute;
  top: 0;
  height: 16px;
  width: 1px;
  background: #fff;
}
#big-video-control .ui-slider-handle {
  border-left: solid 1px #fff;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -8px;
}
.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.vjs-big-play-button {
  display: none !important;
}
